*{
    margin: 0;
    padding: 0;
    font-family:'Helvetica';
    -webkit-tap-highlight-color: rgba(0,0,0,0);  
	-webkit-tap-highlight-color: transparent;
}
html, body{
	/*height: 100%;*/
    position: relative;
    /*padding-bottom: 1rem;*/
}
body{
	padding-bottom: 60px;

}
/*footer*/
.wrap-footer{
	position: fixed;
	width: 100%;
	bottom: 0%;
	/*padding: 0.18rem 0px 0.1rem;*/
	padding: 10px 0 5px 0;
	background: #fff;
	z-index: 9999999;
}
.wrap-footer ul li{
	padding: 0px;
	text-align: center;
}
.wrap-footer ul li span{
	/*width: 0.47rem;*/
	/*height: 0.41rem;*/
	width: 24px;
	height: 20px;
	display: block;
	margin:0 auto;
}
.wrap-footer ul li a{
	display: block;
}
.wrap-footer ul li i{
	font-style: normal;
	font-size: 0.22rem;
	color: #545454;
}
.wrap-footer ul li .home-footer{
	background: url(../Images/fixhome.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li.active .home-footer{
	background: url(../Images/fixhomeactive.png) no-repeat center center;
	background-size: 100% 100%;
}
.wrap-footer ul li .news-footer{
	background: url(../Images/fixnews.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li.active .news-footer{
	background: url(../Images/fixnewsactive.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li .members-footer{
	background: url(../Images/fixmember.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li.active .members-footer{
	background: url(../Images/fixmemberactive.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li .me-footer{
	background: url(../Images/fixme.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li.active .me-footer{
	background: url(../Images/fixmeactive.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li.active i{
	color: #118ff6;
}
.loader {
	text-align: center;
	font-size: 16px;
	line-height: 30px;
}
/*footer*/
.member-list-item{
	height: 1.7rem;
}
.member-trait .avatarImg{
	height: 1.7rem;
}

.sharebtn{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background:rgba(34,234,0,0.7);
	color: #fff;
	line-height: 1rem;
	text-align: center;
	font-size: 0.2rem;
}
.wrap-share-box{
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 0px;
	z-index: 100000000000;
}
.cancelshare{
	height: 0.7rem;
	line-height: 0.7rem;
	text-align: center;
	color: #ccc;
	font-size: 0.25rem;
	background: #fff;
	display: block;
	width: 100%;
}
.wrap-share{
	height: 2rem;
	width: 100%;
	background: #d5d5d5;
	padding-top: 0.6rem;
}
.bdshare-button-style1-32 .sharebtns{
	width: 20% !important;
	float: left;
}
.bdshare-button-style1-32 a{
	margin: 0px auto !important;
	float: none !important;
	display: block;
	width: 1rem !important;
	height: 1rem !important;
	/*background: none !important;*/
}
.bdshare-button-style1-32 a.bds_twi{
	background-image: url(../Images/twitter.png) !important;
	background-position: 0 0;
	background-size: auto 100%;
}
.bdshare-button-style1-32 a.bds_fbook{
	background-image: url(../Images/facebook.png) !important;
	background-position: 0 0;
	background-size: auto 100%;
}
.bdshare-button-style1-32 a.bds_weixin{
	background-image: url(../Images/wechat.png) !important;
	background-position: 0 0;
	background-size: auto 100%;
}
.bdshare-button-style1-32 a.bds_qzone{
	background-image: url(../Images/ins.png) !important;
	background-position: 0 0;
	background-size: auto 100%;
}
.bdshare-button-style1-32 a.bds_tsina{
	background-image: url(../Images/weibo.png) !important;
	background-position: 0 0;
	background-size: auto 100%;
}
