*{
    margin: 0;
    padding: 0;
    font-family:'Helvetica';
    -webkit-tap-highlight-color: rgba(0,0,0,0);  
	-webkit-tap-highlight-color: transparent; /* For some Androids,个人感觉是低版本的安卓，4.0以下 */ 
}
html, body{
    position: relative;
}
