*{
    margin: 0;
    padding: 0;
    font-family:'Helvetica';
    -webkit-tap-highlight-color: rgba(0,0,0,0);  
	-webkit-tap-highlight-color: transparent;
}
html, body{
	/*height: 100%;*/
    position: relative;
    /*padding-bottom: 1rem;*/
}
body{
	padding-bottom: 1rem;

}

.result-list{
	overflow: hidden;
	background: #ededed;
}
.result-list>div{
	margin-bottom: 0.09rem;
}
.result-list .news-video-item{
	background-color: #fff;
}

.wrap-share{
	height: 100px;
	position: relative;
}
.sharebtn{
	position: fixed;
	bottom: 70px;
	right: 20px;
	background: rgba(156, 36, 232, 0.5);
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    #eee;
}
/*footer*/
.wrap-footer{
	position: fixed;
	width: 100%;
	bottom: 0%;
	/*padding: 0.18rem 0px 0.1rem;*/
	padding: 0.2rem 0 0.05rem 0;
	background: #fff;
	z-index: 9999999;
	border-top: 1px solid #eee;
}
.wrap-footer ul li{
	padding: 0px;
	text-align: center;
}
.wrap-footer ul li span{
	/*width: 0.47rem;*/
	/*height: 0.41rem;*/
	width: 0.48rem;
	height: 0.40rem;
	display: block;
	margin:0 auto;
}
.wrap-footer ul li a{
	display: block;
}
.wrap-footer ul li i{
	font-style: normal;
	font-size: 0.22rem;
	color: #545454;
}
.wrap-footer ul li .home-footer{
	background: url(../Images/fixhome.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li.active .home-footer{
	background: url(../Images/fixhomeactive.png) no-repeat center center;
	background-size: 100% 100%;
}
.wrap-footer ul li .news-footer{
	background: url(../Images/fixnews.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li.active .news-footer{
	background: url(../Images/fixnewsactive.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li .members-footer{
	background: url(../Images/fixmember.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li.active .members-enfooter{
	background: url(../Images/fixmemberactive.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li .me-footer{
	background: url(../Images/fixme.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li.active .me-footer{
	background: url(../Images/fixmeactive.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-footer ul li.active i{
	color: #118ff6;
}
.loader {
	text-align: center;
	font-size: 16px;
	line-height: 30px;
}
/*footer*/
.member-list-item{
	height: 1.7rem;
}
.member-trait .avatarImg{
	height: 1.7rem;
}

/** tmplItem **/

 a.tagbtn{
	 display: inline-block;
	 text-align: center;
	 margin-right: 0.22rem;
	 font-size: 0.26rem;
 }
.tagBtn0{
	width: 1.3rem;
}
.tagBtn1{
	width: 1.6rem;
}
.tagBtn2{
	width: 2.06rem;
}
.tagBtn3{
	width: 1.46rem;
}
a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: #3c3c3c;
}
.eventItemTmpl, .articleItemTmpl, .memberItemTmpl , .videoItemTmpl{
	display: none;
}
.row0{
	overflow: hidden;
}
.memberItem .row0{
	background: #f6f6f6;
	padding: 0.05rem;

}
.fl{
	float: left;
}
.fr{
	float: right;
}
.center-img-wrap{
	position: relative;
	overflow: hidden;
}
.center-img-wrap>img{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/** article **/
.articleItem{
	padding: 0.30rem 0.22rem 0.30rem 0.22rem;
	margin-bottom: 0.09rem;
	background-color: #fff;

}
.articleImgWrap{
	width: 2.7rem;
	height: 1.66rem;
}
.articleTextWrap{
	position: relative;
	width: 4rem;
	height: 1.66rem;
}
.articleTitle{
	font-size: 0.26rem;
	max-height: 0.72rem;
	overflow: hidden;
	margin-bottom: 0.15rem;
}
.articleTags{
	max-height: 0.32rem;
	font-size: 0.22rem;
	color: #118ff6;
	margin-bottom: 0.15rem;
	white-space:nowrap;
}
.articleInfo{
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	height: 0.54rem;
}
.articleAuthorIcon{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0.43rem;
	height: 0.43rem;
	border-radius: 50%;
}
.articleAuthorIcon>img{
	width: 100%;
	height: 100%;

}
.articleAuthor{
	position: absolute;
	left: 0.58rem;
	top: 0.20rem;
	font-size: 0.21rem;
	color: #909090;
}
.articleDate{
	position: absolute;
	right: 0;
	top: 0.20rem;
	font-size: 0.19rem;
	color: #909090;
}
/** end article **/



 .memberItem{
	 /*width: 3.43rem;*/
	 /*height: 1.7rem;*/
	 position: relative;

	 margin: 0.30rem 0.22rem 0.30rem 0.24rem;
 }
.memberImgWrap{
	width: 1.7rem;
	height: 1.7rem;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}
.memberImgWrap>img{
	width: 100%;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.memberTextWrap{
	width: 5.2rem;
	height: 1.7rem;
	background: #f6f6f6;
	overflow: hidden;
	position: relative;
}
.memberName{
	position: absolute;
	top: 0.18rem;
	left: 0.26rem;
	font-size: 0.28rem;
	color: #646464;
	white-space: nowrap;
}
.memberTags{
	position: absolute;
	top: 0.61rem;
	left: 0.26rem;
	font-size: 0.24rem;
	color: #118ff6;
	overflow: hidden;
	white-space: nowrap;
}
.memberIntro{
	position: absolute;
	top: 1.06rem;
	left: 0.26rem;
	width: 5.03rem;
	font-size: 0.22rem;
	color: #646464;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	/*white-space: nowrap;*/

}


/** tmplItem end **/

.sharebtn{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background:rgba(34,234,0,0.7);
	color: #fff;
	line-height: 1rem;
	text-align: center;
	font-size: 0.2rem;
}
.wrap-share-box{
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 0px;
	z-index: 100000000000;
}
.cancelshare{
	height: 0.7rem;
	line-height: 0.7rem;
	text-align: center;
	color: #ccc;
	font-size: 0.25rem;
	background: #fff;
	display: block;
	width: 100%;
}
.wrap-share{
	height: 2rem;
	width: 100%;
	background: #d5d5d5;
	padding-top: 0.6rem;
}
.bdshare-button-style1-32 .sharebtns{
	width: 25% !important;
	float: left;
}
.bdshare-button-style1-32 a{
	margin: 0px auto !important;
	float: none !important;
	display: block;
	width: 1rem !important;
	height: 1rem !important;
	/*background: none !important;*/
}
.bdshare-button-style1-32 a.bds_twi{
	background-image: url(../Images/twitter.png) !important;
	background-position: 0 0;
	background-size: auto 100%;
}
.bdshare-button-style1-32 a.bds_fbook{
	background-image: url(../Images/facebook.png) !important;
	background-position: 0 0;
	background-size: auto 100%;
}
.bdshare-button-style1-32 a.bds_weixin{
	background-image: url(../Images/wechat.png) !important;
	background-position: 0 0;
	background-size: auto 100%;
}
.bdshare-button-style1-32 a.bds_qzone{
	background-image: url(../Images/ins.png) !important;
	background-position: 0 0;
	background-size: auto 100%;
}
.bdshare-button-style1-32 a.bds_tsina{
	background-image: url(../Images/weibo.png) !important;
	background-position: 0 0;
	background-size: auto 100%;
}
