/*news*/
#loadmask{
	width:100%;
    height:100%;
    background-color:#000;
    position:fixed;
    top:0;
    left:0;
    z-index:99;
    opacity:0.7;
    filter: alpha(opacity=70);
    display: none;
}
.padding0{
	padding: 0px;
}
li{
	list-style: none;
}
.lineheight35{
	line-height: 0.35rem !important;
}
.container-fluid{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none !important;
}
.row{
	margin: 0px;
	padding: 0px;
}
.news-banner .swiper-container{
	width: 100%;
	height: 3.8rem;
}
.news-banner .swiper-slide img{
	width: 100%;
}
.news-header{
	height: 0.88rem;
	line-height: 0.88rem;
}
.news-logo{
	width: 1.57rem;
}
.classify-icon img{
	width: 0.38rem;
	height: 0.38rem;
	display: inline-block;
}
.cancel-icon{
	display: none;
}
.cancel-icon img{
	width: 0.32rem;
	height: 0.32rem;
	display: inline-block;
}
.search-icon img{
	width: 0.38rem;
	height: 0.38rem;
	display: inline-block;
}
.wrap-navbar .swiper-container{
	width: 100%;
	height: 1.26rem;
	padding-left: 15px;
}
.wrap-navbar a{
	display: block;
	padding: 0rem 0.15rem;
	text-align: center;
	text-decoration: none !important;
}
.wrap-navbar a span{
	color: #909090;
	display: block;
	font-size: 0.32rem;
}
.wrap-navbar a i{
   color: #909090;
   font-style: normal;
   display: block;
   font-size: 0.27rem;
}
.wrap-navbar .swiper-wrapper{
	width: 100%;
	margin-bottom: 0px;
}
.wrap-navbar .swiper-container{
   	border-bottom: 1px solid #dfdfdf;
}
.wrap-navbar li{
	width: auto;
	float: left;
	margin-right: 0.37rem;
	padding-top: 0.2rem;
}
.wrap-navbar li .linebottom{
	display: none;
	height: 0.06rem;
	width: 100%;
	background: #118ff6;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.wrap-navbar li.active .linebottom{
   display: block;
}
.wrap-navbar li.active a span{
   display: block;
   color: #3c3c3c;
}
.wrap-navbar li.active a i{
   display: block;
   color: #3c3c3c;
}
.wrap-news-item{
	width: 100%;
}
.wrap-news-item ul li{
	background: #fff;
	margin-bottom: 0.1rem;
	padding-top: 0.28rem;
}
.newsitem-img{
	width: 38%;
	display: block;
}
.newsitem-img img{
	width: 100%;
}
.news-item-detail{
	width: 58%;
	position: relative;
	position: relative;
	height: 1.65rem;
}
.news-item-detail h3{
	font-size: 0.26rem;
	line-height: 0.4rem;
	margin-bottom: 0.1rem;
	margin-top: 0px;
}
.news-item-detail h3 a{
	font-size: 0.26rem;
	color: #3c3c3c;
	line-height: 0.26rem;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
}
.news-item-tag{
	font-size: 0.22rem;
	color: #118ff6;
	margin-bottom: 0px;
}
.wrap-tagsnew{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 100%;
}
.wrap-tagsnew .icon-person{
	height: 0.42rem;
	width: 0.42rem;
	margin-right: 0.1rem;
}
.article-sidebar .icon-person{
	height: 0.57rem;
	width: 0.57rem;
	margin-right: 0.1rem;
}
.color-grey{
	color: #909090;
	font-size: 0.2rem;
	line-height: 0.42rem;
}
.article-sidebar{
	margin-bottom: 0.5rem;
}
.article-sidebar .color-grey{
	line-height: 0.57rem;
	color: #3d3d3d;
	font-size: 0.22rem;
}
.wrap-news-item{
	background: #ededed;
}
.news-item{
	padding: 0 4.532%;
	margin: 0 auto;
}
.news-article-detail h4{
	color: #000;
	line-height: 0.58rem;
	text-align: justify;
	font-size: 0.32rem;
	margin-bottom: 0.2rem;
	font-weight: bold;
}
.news-article-img{
	margin-bottom: 0.18rem;
}
.news-article-img img{
	max-width: 100%;
}
.wrap-news-article p{
	color: #3a3a3a;
	line-height: 0.42rem;
	margin-bottom: 0.11rem;
}
.wrap-disclaimer{
	width: 100%;
	background: #fafafa;
	padding: 0.13rem;
	margin-bottom: 0.6rem;
}
.disclaimer-text{
	color: #909090;
	line-height: 0.4rem;
}
.wrap-news-articletag a{
	height: 0.63rem;
	line-height: 0.63rem;
	border-radius: 0.14rem;
	background: #f5f5f5;
	display: block;
	padding: 0px 0.3rem;
	color: #8b8b8b;
	margin-right: 0.18rem;
}
.wrap-news-articletag{
	margin-bottom: 0.3rem;
}
.wrap-news-attachment h4{
	color: #000;
	line-height: 0.47rem;
	font-weight: normal;
	margin-bottom: 0.35rem;
	margin-top: 0rem;
}
.attachment-item{
	height: 0.64rem;
	line-height: 0.64rem;
	border-radius: 0.3rem;
	background: #f5f5f5;
	display: block;
	width: 100%;
}
.wrap-news-attachment{
	padding-bottom:0.4rem;
}
.attachment-item{
	padding: 0rem 0.2rem;
}
.downloadbtn{
	color: #42a7f9;
}
.attachment-title img{
	height: 0.3rem;
	width: auto;
	display: inline;
	margin-top: 0.17rem;
	margin-right: 0.13rem;
}
.attachment-title{
	width: 75%;
	color: #8b8b8b;
	background: url(../Images/attachmenticon.png) no-repeat left center;
	padding-left: 0.32rem;
	background-size: auto 50%;
}
.attachment-title span{
	word-break:keep-all;  
	white-space:nowrap;   
	overflow:hidden;    
	text-overflow:ellipsis;  
	display: block;
	width: 100%;
}
.line{
	width: 1px;
	display: inline;
	/*background: #636363;*/
	height: 0.4rem;
	margin-top: 0.12rem;
}
.wrap-subnavbar li{
	margin-right: 0px;
	width: 50%;
}
.wrap-videosubnavbar li{
	margin-right: 0px;
	width: 33.3%;
}
.wrap-navbar .wrap-subnavbar,
.wrap-navbar .wrap-videosubnavbar{
	padding-right: 15px;
}
.wrap-news-video{
	width: 100%;
}
.wrap-news-video img{
	width: 100%;
	height: 100%;
}
.news-video-tag{
	height: 1rem;
	line-height: 1rem;
	padding: 0px 15px;
}
.news-video-tag .color-grey{
	line-height: 1rem;
	color: #909090;
	font-size: 0.24rem;
}
.news-video-tag .icon-person{
	margin-right: 0.2rem;
	height: 0.6rem;
	width: 0.6rem;
	margin-top: 0.2rem;
}
.news-video-item{
	margin-bottom: 0.12rem;
}
.news-video-item ul li{
	padding-bottom: 0px;
}
.wrap-news-item{
	background: #ededed;
}
.news-tag-recommend a{
	color: #909090;
    font-size: 0.2rem;
    line-height: 0.42rem;
    padding: 0px 0.1rem;
}
.news-tag-recommend a:first-child{
	border-right: 1px solid #909090;
}
.wrap-news-modal{
	position: absolute;
	top:0.88rem;
	width: 100%;
	left: 0%;
	z-index: 999999;
}
.wrap-news-modal{
	padding-top: 0.94rem;
	background: #fff;
	text-align: center;
}
.wrap-news-modal i{
	display: block;
	font-style: normal;
	font-size: 0.32rem;
	color: #909090;
}
.news-modal{
	padding: 0px 15px 0.88rem;
}
.news-modal .news-ico{
	display: block;
	margin: 0 auto 0.24rem;
	width: 0.42rem;
	height: 0.42rem;
}
.article-icon .news-ico{
	background: url(../Images/articleico.png) no-repeat left center;
	background-size: 100% 100%;
}
.video-icon .news-ico{
	background: url(../Images/videoico.png) no-repeat left center;
	background-size: 100% 100%;
}
.recommend-icon .news-ico{
	background: url(../Images/recommendico.png) no-repeat left center;
	background-size: 100% 100%;
}
.active .article-icon .news-ico{
	background: url(../Images/articleicoactive.png) no-repeat left center;
	background-size: 100% 100%;
}
.active .video-icon .news-ico{
	background: url(../Images/videoicoactive.png) no-repeat left center;
	background-size: 100% 100%;
}
.active .recommend-icon .news-ico{
	background: url(../Images/recommendicoactive.png) no-repeat left center;
	background-size: 100% 100%;
}
.wrap-news-modal .active i{
	color: #118ff6;
}
.persion-btn a{
	display: block;
	height: 0.65rem;
	line-height: 0.65rem;
	color: #118ff6;
	background: #f6f6f6;
	border-radius: 0.15rem;
}
.persion-btn.active a{
	color: #f6f6f6;
	background: #118ff6;
}
.wrap-logsignbtn{
	padding: 0px 40px 0.57rem;
}
.wrap-news-modal{
	display: none;
}
.wrap-news-item .event-title{
	color: #000;
	line-height: 0.47rem;
	font-weight: normal;
	margin: 0rem;
	background: #fff;
	padding: 0.3rem 15px 0rem;
}
/*協議長成*/
.main-title{
	font-size: 0.34rem;
	color: #3c3c3c;
}
.main-subtitle{
	font-size: 0.28rem;
	color: #3c3c3c;
	line-height: 0.58rem;
	margin: 0px;
}
.wrap-charter-content p{
	color: #646464;
	line-height: 0.52rem;
	margin-bottom: 0px;
}
.text-indent{
	text-indent: 2em;
}
.charter-item{
	margin-bottom: 0.3rem;
}
.height10{
	height: 0.1rem;
	background: #ededed;
	width: 100%;
}
.wrap-video-broadcast{
	background: #fff;
}
.video-broadcast-title{
	margin: 0px;
	font-size: 0.38rem;
	color: #000;
	line-height: 0.6rem;
	padding: 0.2rem 15px;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
}
/*協議長成*/
.wrap-share{
	/*position: fixed;*/
	bottom: 0rem;
	width: 100%;
	/*height: 0.8rem;*/
	line-height: 0.8rem;
	background: #42a7f9;
	left: 0px;
	right: 0px;
}
.wrap-share a{
	display: block;
}
.wrap-share a img{
	width: 0.6rem;
	height: 0.6rem;
	margin-top: 0.1rem;
	display: block;
	margin: 0.1rem auto 0;
}
.wrap-video-introduction{
	width: 100%;
	height: 3.65rem;
	position: relative;
	display: block;
}
.wrap-video-introduction h4{
	position: absolute;
	bottom: 0px;
	color: #fff;
	width: 100%;
	margin: 0px;
	padding: 0px 15px;
	z-index: 15;
	font-size: 0.28rem;
	line-height: 0.4rem;
	padding-bottom: 0.15rem;
	text-align: center;
}
.bggrey{
	position: absolute;
	left: 0px;
	bottom: 0px;
	top:0px;
	right:0px;
	background: rgba(0,0,0,0.6);
    z-index: 10;
}
.wrap-news-video .broadcast-btn{
	width: 0.94rem;
	height: 0.94rem;
	display: block;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -0.47rem;
	margin-top: -0.47rem;
	z-index: 13;
}
/*news*/
.wrap-navbar .wrap-videosubnavbar a{
	padding: 0px;
}
